@page "/"
@using System.ComponentModel.DataAnnotations;
<div>
    <div class="row">
        <SfCheckBox CssClass="e-align" Checked="@isChecked"
            @onchange="ValueChanged">Checkbox: @isChecked</SfCheckBox>
    </div>
    <div class="row">
        <SfRadioButton CssClass="e-align" Label="Male" Name="Gender" Value="male" Checked="@value"
            @onchange="OnSelect">
        </SfRadioButton>
        <SfRadioButton CssClass="e-align" Label="Female" Name="Gender" Value="female" Checked="@value"
            @onchange="OnSelect">
        </SfRadioButton>
        <p>You have selected the @value category</p>
    </div>
    <div class="row">
        <EditForm Model="Annotate">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group">
                <div class="row">
                    <h6 class="e-align">Degree</h6>
                    <SfRadioButton class="e-align" Label="UG Course" Name="Degree" Value="ug"
                        @bind-Checked="@Annotate.degree"></SfRadioButton>
                    <SfRadioButton class="e-align" Label="PG Course" Name="Degree" Value="pg"
                        @bind-Checked="@Annotate.degree"></SfRadioButton>
                    <ValidationMessage For="@(()=>Annotate.degree)"></ValidationMessage>
                </div>
                <SfCheckBox CssClass="e-align" @bind-Checked="@Annotate.check">Agree to Terms and Conditions.</SfCheckBox>
                <ValidationMessage For="@(()=>Annotate.check)"></ValidationMessage>
            </div>
            <SfButton CssClass="e-align" HtmlAttributes="@Submit">Submit</SfButton>
        </EditForm>
    </div>
</div>


@code{
    private bool isChecked;
    private string value = "male";

    public void ValueChanged(Microsoft.AspNetCore.Components.ChangeEventArgs args) => isChecked = (bool)args.Value;
    public void OnSelect(Microsoft.AspNetCore.Components.ChangeEventArgs args) => value = (string)args.Value;

    public Annotation Annotate = new Annotation();

    public class Annotation
    {
        [Range(typeof(bool), "true", "true", ErrorMessage = "You need to agree to the Terms and Conditions.")]
        public bool check { get; set; }
        [Range(typeof(string), "pg", "pg", ErrorMessage = "PG Course is required.")]
        public string degree { get; set; } = "pg";
    }

    public Dictionary<string, object> Submit = new Dictionary<string, object>()
    {
        {"type", "submit"}
    };
}

<style>
    .row {
        margin: 20px 0;
    }

    .e-align{
        margin: 1%;
    }
</style>
